@model Obligatorio_RedFlix.Models.PeliculaDetalleViewModel

@{
    ViewBag.Title = Model.Pelicula != null ? Model.Pelicula.TituloMostrar : "Detalle de serie";
}

<div class="container-fluid px-5 py-4" style="max-width:1400px;">

    @if (Model.Pelicula == null)
    {
        <h2 style="color:#D4AF37;">No se encontró la serie</h2>
        <p style="color:#ccc;">No se pudo cargar la información desde TMDB.</p>
    }
    else
    {
<div class="row">

    <div class="col-md-4">
        <img src="@Model.Pelicula.ImagenUrl"
             style="width:100%; border-radius:12px;" />
    </div>

    <div class="col-md-8">

        <h2 style="color:#D4AF37;">
            @Model.Pelicula.TituloMostrar
        </h2>

        <p style="color:#ccc;">
            <strong>ID TMDB:</strong> @Model.Pelicula.Id
        </p>

        <p style="color:#ccc;">
            <strong>Fecha de estreno:</strong> @Model.Pelicula.FechaMostrar
        </p>

        <p style="color:#ccc;">
            <strong>Puntaje:</strong> ⭐ @Model.Pelicula.VoteAverage
        </p>

        <p style="color:#aaa;">
            @Model.Pelicula.Overview
        </p>

    </div>
    @if (Session["UsuarioId"] != null && Model.Pelicula != null)
    {
        @Html.ActionLink(
            "Agregar a favoritos",
            "AgregarSerie",
            "Favoritos",
            new
            {
                idTmdb = Model.Pelicula.Id,
                titulo = Model.Pelicula.TituloMostrar
            },
            new { @class = "btn btn-gold mt-3" }
        )
    }
</div>

        <hr style="border-color:#333;" />

        <h3 style="color:#D4AF37;">Tráiler</h3>

        if (Model.Trailer != null)
        {
            <iframe width="100%"
                    height="450"
                    src="@Model.Trailer.YoutubeUrl"
                    frameborder="0"
                    allowfullscreen>
            </iframe>
        }
        else
        {
            <p style="color:#ccc;">
                No hay tráiler disponible para esta serie.
            </p>
        }
    }

</div>